.advantages__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: @basic-grey;
  &--information {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: @basic-grey;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages__container {
  background-color: @basic-lightgrey;
}
