.contest__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @basic-grey;
}

.contest__lead {
  font-size: 14px;
  line-height: 30px;
  color: @basic-grey;
  text-align: center;
  margin: 0 auto;

  &--form {
    display: none;

    @media (min-width: @tablet-width) {
      display: inline;
    }

    @media (min-width: @desktop-width) {
      display: inline;
    }
  }

  @media (min-width: @tablet-width) {
    width: 490px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 756px;
    font-size: 18px;
    line-height: 30px;
  }
}

.contest__caption {
  display: block;

  @media (min-width: @tablet-width) {
    display: inline;
    margin-right: 20px;
  }

  &--order {
    @media (min-width: @tablet-width) {
      order: 1;
    }
  }
}

.contest__flex {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contest__element {
  @media (min-width: @tablet-width) {
    width: 100%;
  }

  &--first {
    @media (min-width: @tablet-width) {
      order: 1;
    }

    @media (min-width: @desktop-width) {
      width: 433px;
      margin: 0;
      margin-top: 15px;
      padding-right: 0;
      align-self: flex-start;
    }
  }

  &--second {
    @media (min-width: @tablet-width) {
      order: 4;
    }
  }

  &--third {
    @media (min-width: @tablet-width) {
      order: 3;
    }
  }

  &--fourth {
    @media (min-width: @tablet-width) {
      order: 2;
    }

    @media (min-width: @desktop-width) {
      width: 433px;
      margin: 0;
      padding-left: 0;
      align-self: flex-start;
    }
  }

  &--fifth {
    @media (min-width: @tablet-width) {
      order: 5;
    }
  }
}

.contest__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 30px;
  color: @basic-red;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    align-items: center;
    flex-direction: row;
    margin-bottom: 38px;
  }

  &--column {
    @media (min-width: @tablet-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--icon {
    @media (min-width: @tablet-width) {
      position: relative;
    }

    @media (min-width: @desktop-width) {
      position: relative;
    }
  }
}

.contest__label--icon-phone::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 20px;
    height: 19px;
    top: 22px;
    right: 22px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    width: 20px;
    height: 19px;
    top: 22px;
    right: 22px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.contest__label--icon-mail::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 18px;
    height: 13px;
    top: 23px;
    right: 23px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    width: 18px;
    height: 13px;
    top: 23px;
    right: 23px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}


.contest__label--icon::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    top: 0;
    right: 0;
    background-color: @extra-lightgrey;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    top: 0;
    right: 0;
    background-color: @extra-lightgrey;
  }
}

.contest__input {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  border: 2px solid @extra-lightgrey;
  border-radius: 1px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  &--width {
    @media (min-width: @tablet-width) {
      display: block;
      width: 496px;
      height: 189px;
      margin: 0 auto;
      margin-top: 42px;
      margin-bottom: 53px;
    }

    @media (min-width: @desktop-width) {
      width: 816px;
      height: 124px;
    }
  }
}

.contest__input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @basic-grey;
}

.contest__title {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-red;
  width: 218px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    padding-left: 31px;
    padding-right: 31px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }

  &--none {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.contest__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    padding-right: 60px;
    padding-left: 60px;
  }

  &--grid {
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 60px;
    }
  }
}

.contest__item {
  margin-top: 60px;

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.contest__name-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--contact {
    @media (min-width: @tablet-width) {
      padding-right: 60px;
      padding-left: 60px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr;
      column-gap: 70px;
    }
  }
}

.contest__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @extra-lightgrey;
    border-radius: 2px;
  }
}

.contest__container {
  background-color: @basic-lightgrey;

  @media (min-width: @tablet-width) {
    background-color: inherit;
  }

  @media (min-width: @desktop-width) {
    background-color: inherit;
  }
}

.contest__button {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  background: @basic-green;
  border: 2px solid @basic-green;
  border-radius: 1px;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    display: block;
    width: 296px;
  }
}

.contest__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contest__small {
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__star {
  display: inline;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-red;
}
