.form-application {
  background-color: @basic-lightgrey;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    background-color: inherit;
    order: 2;
    padding-top: 0;
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    width: 433px;
    padding: 0;
    margin-right: 130px;
  }
}

.form-application__title {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.form-application__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-application__item {
  margin-bottom: 45px;

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.form-application__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @basic-grey;
}

.form-application input {
  display: none;
}

.form-application__item label {
  position: relative;
  text-align: left;
  margin-left: 70px;
  display: block;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-left: 119px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 131px;
  }
}

.form-application__radio-icon {
  position: absolute;
  top: -6px;
  left: -69px;
  display: block;
  width: 35px;
  height: 35px;
  border: 2px solid @extra-lightgrey;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: -5px;
    left: -60px;
  }
}

.form-application__input:checked + .form-application__radio-icon {
  content: "";
  position: absolute;
  display: block;
  top: -6px;
  left: -69px;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-point.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;

  @media (min-width: @tablet-width) {
    top: -5px;
    left: -60px;
  }
}
