.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__toggle-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 56px;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__toggle {
  display: block;
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: @basic-grey;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
}
